/*!@userem*/

/** @file
* @author
*/
body,
html {
	width: 100%;
    height: 100%;
    min-height: 100%;
}
.course-detail,
header {
	display: none;
    position: relative;
    z-index: 1;
}
.course-content:after {
	content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
}
.course-icon {
	width: 68px;
    background: url(./img/course-icon.png) no-repeat center;
    background-size: contain;
    margin: 0 auto;
    padding: 34px 0;
}
.course-img {
	width: 100%;
	height: 100%;
	display: block;
}
.course-name {
	text-align: center;
	margin-top: 22px;
	font-size: 18px;
	color: #111;
}
.course-price {
	font-size: 13px;
	text-align: center;
	color: #111;
}
.course-price-text {
	color: #AAA;
}
.course-loan-detail {
	margin: 20px 20px 0;
    overflow: hidden;
}
.course-loan-detail>div {
	height: 81px;
	overflow: hidden;
}
.first-loan:before {
	content: " ";
    position: absolute;
    width: 1px;
    height: 55px;
    left: 50%;
    border-left: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
        -ms-transform: scaleX(0.5);
            transform: scaleX(0.5);
}
.provide-by {
	text-align: center;
	padding: 10px 0;
	color: #ccc;
	font-size: 12px;
	padding-top: 40px;
	padding-bottom: 17px;
}
.comfirm-btn {
	border: 1px solid #D23836;
	border-radius: 4px;
	background: #E94543;
	color: #FFF;
	margin: 20px 18px 10px 18px;
	font-size: 16px;
	text-align: center;
}
.border-line {
    display: block;
    height: 1px;
    background-color: #D9D9D9;
    -webkit-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    transform: scaleY(.5);
    margin: 0 15px;
    overflow: hidden;
    border-top: 1px solid #D9D9D9;
}
.loan-ceilings-price,
.low-size {
	font-size: 16px;
}
.number-size {
	font-size: 18px;
}
.alert-icon {
	background: url(./img/alert-icon.png) no-repeat center;
	width: 40px;
	padding: 20px 0;
	background-size: contain;
	margin: 0 auto;
	margin-top: 50%;
}
.alert-first-line {
	margin-top: 10px;
}
.alert-second-line {
	margin-top: 0px;
}

.price-tag {
    display: inline-block;
    vertical-align: -1px;
}

@media only screen and (max-width: 375px) {

}
